<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {{template "e_head.gohtml" .}}
</head>

<body>
    {{template "e_header.gohtml" .}}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form id="loginForm" method="POST">
                            {{if .Error}}
                                <div class="alert alert-danger alert-dismissible mb-2" role="alert">
                                    {{.Error}}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {{end}}

                            <div class="mb-2">
                                <label>Username</label>
                            </div>

                            <div class="mb-2">
                                <input type="text" name="user" value="{{trd "user"}}" class="form-control" autofocus>
                            </div>

                            <div class="mb-2">
                                <label>Password</label>
                            </div>

                            <div class="mb-2">
                                <input type="password" name="password" class="form-control">
                            </div>

                            <div class="mb-2">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{template "e_footer.gohtml" .}}
    <script>
        $('#userMenu').hide();
    </script>
</body>

</html>