<!DOCTYPE html>
<html lang="pt-BR">

<head>
	{{template "e_head.gohtml" .}}
</head>

<body class="thingRead">
	{{template "e_header.gohtml" .}}
	<div class="container">
		<div class="btn-toolbar justify-content-center my-2">
			<div class="btn-group mx-1">
				<a id="backButton" class="btn btn-sm btn-primary" title="Back to details">
					<i class="fa-solid fa-arrow-left"></i>
				</a>
			</div>
			<div class="btn-group mx-1">
				<a id="navFirst" class="btn btn-sm btn-primary" title="First">
					<i class="fa-solid fa-angle-double-left"></i>
				</a>
				<a id="navPrev" class="btn btn-sm btn-primary" title="Previous">
					<i class="fa-solid fa-angle-left"></i>
				</a>
				<button id="navCurr" class="btn btn-sm btn-primary" title="Current" disabled></button>
				<a id="navNext" class="btn btn-sm btn-primary" title="Next">
					<i class="fa-solid fa-angle-right"></i>
				</a>
				<a id="navLast" class="btn btn-sm btn-primary" title="Last">
					<i class="fa-solid fa-angle-double-right"></i>
				</a>
			</div>
			<div class="btn-group mx-1">
				<button id="fullscreen" type="button" class="btn btn-sm btn-primary" title="Fullscreen">
					<i class="fa-solid fa-expand"></i>
				</button>
				<button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#slideshowModal" title="Slideshow" data-stop-slideshow>
					<i class="fa-regular fa-clock"></i>
				</button>
				
			</div>
		</div>

		<div class="btn-toolbar justify-content-center my-2">
			<div class="btn-group mx-1">
				<div class="input-group input-group-sm">
					<button class="btn btn-secondary" type="button" disabled>Marks</button>
					<button id="marksSubButton" class="btn btn-primary" type="button" data-marks-sub=""><i class="fa-solid fa-minus fa-2xs"></i></button>
					<span id="marksCounter" class="input-group-text border border-secondary bg-secondary text-white" data-marks-counter=""></span>
					<button id="marksAddButton" class="btn btn-primary" type="button" data-marks-add=""><i class="fa-solid fa-plus fa-2xs"></i></button>
				</div>
			</div>

			<div class="btn-group mx-1">
				<button class="btn btn-sm btn-danger" type="button" id="stopSlideshowButton" style="display: none" data-stop-slideshow>
					Stop slideshow
				</button>
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-center position-relative" id="target" data-default-slideshow-seconds="{{ .Config.DefaultSlideshowPreset.Seconds }}">
		<div id="fullscreenToaster" class="px-3 my-2"></div>
		<div id="fullscreenProgress">
			<div id="fullscreenProgressBar" class="progress green"></div>
		</div>
		<div id="fullscreenPageCounter"></div>
		<div id="loadingSpinner" class="position-absolute top-50 start-50 translate-middle d-none">
			<i class="fa-solid fa-spinner fa-spin fa-5x text-secondary"></i>
		</div>
	</div>

	<div class="container">
		<div class="card mt-3">
			<div class="card-body" id="searchTagsContainer">
			</div>
		</div>
	</div>

	{{template "e_footer.gohtml" .}}

	<div class="modal modal-lg fade" id="slideshowModal" tabindex="-1" aria-labelledby="slideshowModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="slideshowModalLabel">Slideshow setup</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<h6>Regular slideshow</h6>
					<div class="d-flex flex-wrap gap-2">
						{{range .Config.SlideshowPresets }}
							<button data-start-slideshow="{{.Seconds}}" class="btn btn-sm btn-primary" type="button" data-bs-dismiss="modal">{{.Label}}</button>
						{{end}}
					</div>
					
					<h6 class="mt-2">Persistent slideshow</h6>
					<div class="d-flex flex-wrap gap-2">
						{{range .Config.SlideshowPresets }}
							<button data-start-slideshow="{{.Seconds}}" data-persistent-slideshow="1" class="btn btn-sm btn-warning" type="button" data-bs-dismiss="modal">{{.Label}}</button>
						{{end}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<script {{ asset "src" "/static/reader.js" }}></script>
	<script>
		window.sugoi.reader.load({{ .ReaderData }});
	</script>
	</body>

	</html>