<!DOCTYPE html>
<html lang="pt-BR">

<head>
	{{template "e_head.gohtml" .}}
</head>

<body class="thingDetails">
	{{template "e_header.gohtml" .}}
	<div class="container">
		<form action="{{ .Thing.SaveMetadataUrl }}" method="POST" class="mb-3">
			<div class="row">
				<div class="col-md-2 col-12">
					<div class="card mb-3 flex-column">
						<div class="card-body p-0 text-center">
							<img src="{{.Thing.ThumbUrl .Thing.CoverImageUrl}}" class="img-fluid" alt="Cover" />
						</div>
					</div>
				</div>
				<div class="col-md-10 col-12">
					<div class="mb-2">
						<label>Filename</label>
						<div>
							{{ .Thing.File.PathKey }}
						</div>
					</div>
					<div class="mb-2">
						<label>Title</label>
						<input type="text" class="form-control" name="title" value="{{ .Metadata.Title }}">
					</div>
					<div class="mb-2">
						<label>Collection</label>
						<input type="text" class="form-control" name="collection" value="{{ .Metadata.Collection }}">
					</div>
					<div class="mb-2">
						<label>Language</label>
						<input type="text" class="form-control" name="language" value="{{ .Metadata.Language }}">
					</div>
					<div class="mb-2">
						<label>Artist</label>
						<div>
							<textarea rows="10" class="form-control fs-14px p-1" name="artistText">
								{{- range $artist := .Metadata.Artist -}}
									{{- $artist -}}
									{{- "\n" -}}
								{{- end -}}
							</textarea>
							<code>Format: one artist per line</code>
						</div>
					</div>
					<div class="mb-2">
						<label>Parody</label>
						<input type="text" class="form-control" name="parody" value="{{ .Metadata.Parody }}">
					</div>
					<div class="mb-2">
						<label>Magazine</label>
						<div>
							<textarea rows="10" class="form-control fs-14px p-1" name="magazineText">
								{{- range $magazine := .Metadata.Magazine -}}
									{{- $magazine -}}
									{{- "\n" -}}
								{{- end -}}
							</textarea>
							<code>Format: one magazine per line</code>
						</div>
					</div>
					<div class="mb-2">
						<label>Publisher</label>
						<input type="text" class="form-control" name="publisher" value="{{ .Metadata.Publisher }}">
					</div>
					<div class="mb-2">
						<label>Description</label>
						<input type="text" class="form-control" name="description" value="{{ .Metadata.Description }}">
					</div>
					<div class="mb-2">
						<label>Created at</label>
						<input type="text" class="form-control" name="created_at" value="{{ .Metadata.CreatedAt | formatTime }}">
					</div>
					<div class="mb-2">
						<label>Tags</label>
						<div>
							<textarea rows="10" class="form-control fs-14px p-1" name="tagsText">
								{{- range $tag := .Metadata.Tags -}}
									{{- $tag -}}
									{{- "\n" -}}
								{{- end -}}
							</textarea>
							<code>Format: one tag per line</code>
						</div>
					</div>
					<div class="mb-2">
						<label>Metadata Sources</label>
						<textarea class="form-control fs-14px p-1" name="metadataText">
							{{- range $service, $id := .Metadata.MetadataSources -}}
								{{- $service -}}:{{- $id -}}
								{{- "\n" -}}
							{{- end -}}
						</textarea>
						<code>Format: one 'key:value' pair per line</code>
					</div>
				</div>
			</div>
			
			<div class="text-end">
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</form>
	</div>
	
	{{template "e_footer.gohtml" .}}
</body>
</html>