<!DOCTYPE html>
<html lang="pt-BR">

<head>
	{{template "e_head.gohtml" .}}
</head>

<body class="thingRead">
	{{template "e_header.gohtml" .}}
	<div class="container">
		<div class="btn-toolbar justify-content-center my-2">
			<div class="btn-group mx-1">
				<a class="btn btn-sm btn-primary" href="{{.Thing.DetailsUrl}}" title="Back to details">
					<i class="fa-solid fa-arrow-left"></i>
				</a>
			</div>
			<div class="btn-group mx-1">
				<a id="navFirst" class="btn btn-sm btn-primary" title="First">
					<i class="fa-solid fa-angle-double-left"></i>
				</a>
				<a id="navPrev" class="btn btn-sm btn-primary" title="Previous">
					<i class="fa-solid fa-angle-left"></i>
				</a>
				<button id="navCurr" class="btn btn-sm btn-primary" title="Current" disabled></button>
				<a id="navNext" class="btn btn-sm btn-primary" title="Next">
					<i class="fa-solid fa-angle-right"></i>
				</a>
				<a id="navLast" class="btn btn-sm btn-primary" title="Last">
					<i class="fa-solid fa-angle-double-right"></i>
				</a>
			</div>
			<div class="btn-group mx-1">
				<button id="fullscreen" type="button" class="btn btn-sm btn-primary" title="Fullscreen">
					<i class="fa-solid fa-expand"></i>
				</button>
				<button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#slideshowModal" title="Slideshow" data-stop-slideshow>
					<i class="fa-regular fa-clock"></i>
				</button>
				
			</div>
		</div>

		<div class="btn-toolbar justify-content-center my-2">
			<div class="btn-group mx-1">
				<div class="input-group input-group-sm">
					<button class="btn btn-secondary" type="button" disabled>Marks</button>
					<button class="btn btn-primary" type="button" data-marks-sub="{{.Thing.Hash}}"><i class="fa-solid fa-minus fa-2xs"></i></button>
					<span class="input-group-text border border-secondary bg-secondary text-white" data-marks-counter="{{.Thing.Hash}}">{{.Thing.Marks}}</span>
					<button class="btn btn-primary" type="button" data-marks-add="{{.Thing.Hash}}"><i class="fa-solid fa-plus fa-2xs"></i></button>
				</div>
			</div>

			<div class="btn-group mx-1">
				<button class="btn btn-sm btn-danger" type="button" id="stopSlideshowButton" style="display: none" data-stop-slideshow>
					Stop slideshow
				</button>
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-center position-relative" id="target">
		<div id="fullscreenToaster" class="px-3 my-2"></div>
		<div id="fullscreenProgress">
			<div id="fullscreenProgressBar" class="progress green"></div>
		</div>
		<div id="fullscreenPageCounter"></div>
	</div>

	<div class="container">
		<div class="card mt-3">
			<div class="card-body">
				{{range .SearchTags}}
					{{ .Badge }}
				{{end}}
			</div>
		</div>
	</div>

	{{template "e_footer.gohtml" .}}

	<div class="modal modal-lg fade" id="slideshowModal" tabindex="-1" aria-labelledby="slideshowModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="slideshowModalLabel">Slideshow setup</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<h6>Regular slideshow</h6>
					<div class="d-flex flex-wrap gap-2">
						{{range .Config.SlideshowPresets }}
							<button data-start-slideshow="{{.Seconds}}" class="btn btn-sm btn-primary" type="button" data-bs-dismiss="modal">{{.Label}}</button>
						{{end}}
					</div>
					
					<h6 class="mt-2">Persistent slideshow</h6>
					<div class="d-flex flex-wrap gap-2">
						{{range .Config.SlideshowPresets }}
							<button data-start-slideshow="{{.Seconds}}" data-persistent-slideshow="1" class="btn btn-sm btn-warning" type="button" data-bs-dismiss="modal">{{.Label}}</button>
						{{end}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		let hash = {{ .Hash }};
		let pages = {{ .Files }};
		let prefix = {{ .Thing.ReadUrl }};
		let backUrl = {{ .Thing.DetailsUrl }};
		let title = {{ .Thing.Title }};
		let page = {{ .Page }};
		let defaultSlideshowSeconds = {{ .Config.DefaultSlideshowPreset.Seconds }};
		let readThreshold = {{ .ReadThreshold }};
		let pagesRead = new Set();
		let thingReadSent = false;

		$(document).ready(function () {
			var $title = $('title');
			var $target = $('#target');
			var $fullscreenToaster = $('#fullscreenToaster');
			var $fullscreenProgress = $('#fullscreenProgress');
			var $fullscreenProgressBar = $('#fullscreenProgressBar').css({ width: "0%" });
			var $fullscreenPageCounter = $('#fullscreenPageCounter');
			var $targetImg = $('<img>').css({ maxWidth: '100%', maxHeight: '100%', objectFit: 'contain' }).hide().appendTo($target);
			var $navPrev = $('#navPrev');
			var $navNext = $('#navNext');
			var $navCurr = $('#navCurr');
			var $navFirst = $('#navFirst');
			var $navLast = $('#navLast');
			var $stopSlideshowButton = $('#stopSlideshowButton');
			var $navAll = $('#navPrev,#navNext,#navFirst,#navLast');
			var $fullscreen = $('#fullscreen');

			setPage(page);
			function setPage(i) {
				if (!(i in pages)) {
					stopSlideshow();
					return false;
				}

				page = i | 0;

				var expectedPrefix = prefix + "/" + page;
				if (location.pathname != expectedPrefix) {
					if (location.pathname === prefix) {
						history.replaceState({ page: page }, "", expectedPrefix + location.search);
					} else {
						history.pushState({ page: page }, "", expectedPrefix + location.search);
					}
				}

				$targetImg.show();
				$targetImg.attr('src', pages[page]);
				var pageText = "Page " + (page + 1) + "/" + pages.length;
				$fullscreenPageCounter.html((page + 1) + "/" + pages.length);
				$navCurr.html(pageText)
				$title.html("sugoi - " + title + " " + pageText);

				var prevPage = page - 1;
				if (prevPage < 0) {
					$navPrev.addClass('disabled').attr('href', 'javascript:;').removeData('page')
				} else {
					$navPrev.removeClass('disabled').attr('href', prefix + "/" + prevPage).data('page', prevPage)
				}

				var nextPage = page + 1;
				if (nextPage >= pages.length) {
					$navNext.addClass('disabled').attr('href', 'javascript:;').removeData('page')
				} else {
					$navNext.removeClass('disabled').attr('href', prefix + "/" + nextPage).data('page', nextPage)
				}

				var firstPage = 0;
				if (page <= firstPage) {
					$navFirst.addClass('disabled').attr('href', 'javascript:;').removeData('page')
				} else {
					$navFirst.removeClass('disabled').attr('href', prefix + "/" + firstPage).data('page', firstPage)
				}

				var lastPage = pages.length - 1;
				if (page >= lastPage) {
					$navLast.addClass('disabled').attr('href', 'javascript:;').removeData('page')
				} else {
					$navLast.removeClass('disabled').attr('href', prefix + "/" + lastPage).data('page', lastPage)
				}

				if (nextPage in pages) {
					preloadImage(pages[nextPage]);
				}

				if (prevPage in pages) {
					preloadImage(pages[prevPage]);
				}
	
				pagesRead.add(i);
				if (!thingReadSent && pagesRead.size >= readThreshold) {
					thingReadSent = true;

					$.ajax({
						url: '/thing/pushRead/' + hash,
						method: 'POST'
					});
				}

				resetSlideshow();
				return true;
			}

			$navAll.click(function (e) {
				e.preventDefault();

				var nextPage = $(e.currentTarget).data('page');

				setPage(nextPage);
			});

			window.addEventListener('popstate', function (event) {
				if ('page' in event.state) {
					setPage(event.state.page);
				}
			});

			var prevKey = null;
			window.addEventListener('keydown', function (event) {
				if (event.isComposing) {
					return;
				}

				switch (event.key) {
					case "0":
					case "1":
					case "2":
					case "3":
					case "4":
					case "5":
					if (event.key == prevKey) {
						setThingRating(hash, event.key)
						.done(function (data) {
							toaster(data.Message);
						})
						.fail(function (data) {
							toaster(data.responseJSON.Error);
						});
					} else {
						toaster("Press " + event.key + " again to set the rating to " + event.key + " stars");
					}
					break;

					case "m":
					thingChangeMark(hash, 'add')
					.done(function (data) {
						toaster(data.Message);
					})
					.fail(function (data) {
						toaster(data.responseJSON.Error);
					});
					break;

					case "n":
					thingChangeMark(hash, 'sub')
					.done(function (data) {
						toaster(data.Message);
					})
					.fail(function (data) {
						toaster(data.responseJSON.Error);
					});
					break;

					case "p":
						toggleSlideshow(defaultSlideshowSeconds * 1000, true);
						event.preventDefault();
					break;

					case "c":
					if (event.key == prevKey) {
						setThingCover(hash, pages[page])
						.done(function (data) {
							toaster(data.Message);
						})
						.fail(function (data) {
							toaster(data.responseJSON.Error);
						});
					} else {
						toaster("Press " + event.key + " again to set the cover to " + pages[page]);
					}
					break;

					case "s":
					toggleSlideshow(defaultSlideshowSeconds * 1000);
					event.preventDefault();
					break;

					case "b":
					$(document.body).html("")
					window.location.replace("https://google.com/")
					break;

					case "r":
					window.location.href = backUrl;
					event.preventDefault();
					break;

					case "t":
					var first = queryHistory.first();
					if (first === null) {
						toaster("Search history is empty");
					} else {
						window.location.href = first.url;
					}
					event.preventDefault();
					break;

					case "y":
					GoToRandom();
					event.preventDefault();
					break;

					case "f":
					goFullScreen();
					event.preventDefault();
					break;

					case "Home":
					setPage(0);
					event.preventDefault();
					break;

					case "End":
					setPage(pages.length - 1);
					event.preventDefault();
					break;

					case "ArrowLeft":
					setPage(page - 1);
					event.preventDefault();
					break;

					case "ArrowRight":
					setPage(page + 1);
					event.preventDefault();
					break;

					case " ":
					case "Escape":
					stopSlideshow();
					event.preventDefault();
					break;

					case "=":
					case "+":
					if (slideshowIsOn) {
						slideshowMs += 1000;
						slideshowMs = Math.max(1000, slideshowMs);
						toaster("Slideshow time: " + slideshowMs/1000 + "s", 1000);
					}
					resetSlideshow();
					event.preventDefault();
					break;

					case "-":
					if (slideshowIsOn) {
						slideshowMs -= 1000;
						slideshowMs = Math.max(1000, slideshowMs);
						toaster("Slideshow time: " + slideshowMs/1000 + "s", 1000);
					}
					resetSlideshow();
					event.preventDefault();
					break;
				}

				prevKey = event.key;
			});

			$targetImg.click(function (e) {
				e.preventDefault();
				var halfWidth = e.currentTarget.width / 2;

				if (e.originalEvent.offsetX > halfWidth) {
					setPage(page + 1);
				} else {
					setPage(page - 1);
				}
			});

			$(document.body).on('click', '[data-start-slideshow]', function(e) {
				startSlideshow(e.target.dataset.startSlideshow * 1000);
			});

			$(document.body).on('click', '[data-stop-slideshow]', function(e) {
				stopSlideshow();
			});

			var slideshowIsOn = false;
			var slideshowInterval = null;
			var slideshowPersistent = false;
			var slideshowMs = defaultSlideshowSeconds * 1000;

			function toggleSlideshow(delayInMs, persistent) {
				if (slideshowIsOn) {
					stopSlideshow();
				} else {
					startSlideshow(delayInMs, persistent);
				}
			}

			function resetSlideshow() {
				if (!slideshowIsOn) {
					return;
				}
				
				if (page + 1 == pages.length && !slideshowPersistent) {
					stopSlideshow();
					return;
				}
				
				if (slideshowInterval) {
					clearInterval(slideshowInterval);
					slideshowInterval = null;
				}
				$fullscreenProgressBar.stop().css({ width: "0%" }).animate({ width: "100%" }, slideshowMs, "linear");
				
				slideshowInterval = setTimeout(function () {
					if (!slideshowPersistent) {
						if (!setPage(page + 1)) {
							stopSlideshow();
						}
					} else {
						if (page + 1 === pages.length) {
							GoToRandom();
						} else {
							setPage(page + 1);
						}
					}
					
				}, slideshowMs);

				$stopSlideshowButton.show();
				if (slideshowPersistent) {
					sessionStorage.setItem('slideshowPersist', slideshowMs);
				}
			}

			function startSlideshow(delayInMs, persistent) {				
				if (page + 1 == pages.length && !persistent) {
					return;
				}

				slideshowMs = delayInMs;
				slideshowIsOn = true;
				slideshowPersistent = !!persistent;
				resetSlideshow();
			}
			
			function stopSlideshow() {
				if (slideshowInterval) {
					clearInterval(slideshowInterval);
					$fullscreenProgressBar.stop().css({ width: "0%" });
					slideshowInterval = null;
				}
				$stopSlideshowButton.hide();
				slideshowPersistent = false;
				sessionStorage.removeItem('slideshowPersist');
				slideshowIsOn = false;
			}

			let ssp = sessionStorage.getItem('slideshowPersist');
			if (ssp !== null) {
				startSlideshow(parseInt(ssp), true);
			}

			function goFullScreen() {
				$target[0].requestFullscreen();
			}

			function GoToRandom() {
				var first = queryHistory.first();
				if (first === null) {
					toaster("Search history is empty");
				} else {
					window.location.href = first.url + '&random=1';
				}
			}

			$fullscreen.click(function (e) {
				e.preventDefault();
				goFullScreen();
			});

			function toaster(msg, timeout) {
				timeout = timeout || 5000;
				var $message = $('<div class="alert alert-primary" role="alert">').html(msg);
				$message.appendTo($fullscreenToaster);
				$message.fadeOut(timeout, "slowOut", function () {
					$message.remove();
				});
			}

			var lastMove = 0;
			$target[0].addEventListener('mousemove', function(e) {
				lastMove = Date.now();
				this.style.cursor = 'pointer';
			});

			setInterval(function() {
				if (lastMove + 3000 < Date.now()) { // 3 seconds
					$target[0].style.cursor = 'none';
				}
			}, 1000);
		});
		</script>
	</body>

	</html>