</main>

<footer class="pb-4">
<div class="container text-center">
    <small class="text-muted">
        Build: {{getBuildTime}} ({{getBuildDiff}} ago)
    </small>
</div>
</footer>

<script {{ asset "src" "/static/js/jquery.min.js" }}></script>
<script {{ asset "src" "/static/js/bootstrap.min.js" }}></script>
<script {{ asset "src" "/static/main.js" }}></script>